/*
 * @Description: ${functionName}服务层（使用 egg-mysql 原生方式）
 * @Author: ${author}
 * @Date: ${datetime}
 */

const Service = require('egg').Service;
const mysql2 = require('mysql2');

class ${ClassName}Service extends Service {
  constructor(...args) {
    super(...args);
    this.SELECT_COLUMNS = '...'; // TODO: define your columns
  }

  _getDb() {
    return this.app.mysql.get('ruoyi');
  }

  _escape(val) {
    return mysql2.escape(val);
  }

  /**
   * 查询${functionName}列表（分页）
   */
  async select${ClassName}List(params = {}) {
    const db = this._getDb();
    // TODO: build dynamic WHERE clause
    const sql = `select * from ... where ...`;
    return await this.ctx.helper.pageQuery(sql, params, db);
  }

  /**
   * 查询${functionName}详情
   */
  async select${ClassName}By${pkColumn.capJavaField}(${pkColumn.javaField}) {
    const db = this._getDb();
    const sql = `select * from ... where ... = ${this._escape(${pkColumn.javaField})}`;
    return await db.select(sql);
  }

  /**
   * 新增${functionName}
   */
  async insert${ClassName}(data) {
    const db = this._getDb();
    // TODO: build dynamic INSERT
    const fields = [];
    const values = [];
    // ...
    const sql = `insert into ... (${fields.join(', ')}) values(${values.join(', ')})`;
    const result = await db.insert(sql);
    return { code: 200, msg: '新增成功', data: result };
  }

  /**
   * 修改${functionName}
   */
  async update${ClassName}(data) {
    const db = this._getDb();
    // TODO: build dynamic UPDATE
    const setClauses = [];
    // ...
    const sql = `update ... set ${setClauses.join(', ')} where ... = ${this._escape(data.id)}`;
    const result = await db.update(sql);
    return { code: 200, msg: '修改成功', data: result };
  }

  /**
   * 删除${functionName}
   */
  async delete${ClassName}By${pkColumn.capJavaField}s(${pkColumn.javaField}s) {
    const db = this._getDb();
    const ids = ${pkColumn.javaField}s.map(id => this._escape(id)).join(', ');
    const sql = `delete from ... where ... in (${ids})`;
    const result = await db.del(sql);
    return { code: 200, msg: '删除成功', data: result };
  }
}

module.exports = ${ClassName}Service;
